.skyhook{
  font-family: skyhook, verdana;
}

@font-face{
  font-family: skyhook;
  src: url(../fonts/SkyhookMono/SkyhookMono.ttf);
}

.maven{
  font-family: maven, verdana;
}

@font-face{
  font-family: maven;
  src: url(../fonts/MavenPro/MavenPro-Regular.ttf);
}