.parallax {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.shadow{
  -webkit-box-shadow: 1px 6px 20px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 6px 20px -1px rgba(0,0,0,0.75);
  box-shadow: 1px 6px 20px -1px rgba(0,0,0,0.75);
}

.has-image-centered {
  margin-left: auto;
  margin-right: auto;
}

.colorblue {
  color:#397be5;
}

.colorblue2 {
  color:#2b98e5;
}

.colorblue3 {
  color:#21aaff;
}

.colorblue4 {
  color:#11c9f7;
}

.footerTeagher{
    background-color: #111111;
    color:white;
}

.is-vertical-center {
  display: flex;
  align-items: center;
}